<div>
  <h1 class="display-6 fw-bold"><%= I18n.t("mining_type.new.title") %></h1>
  <%= render "form", mining_type: @mining_type %>
  <br>
  <div>
    <%= link_to I18n.t("mining_type.buttons.back_to_mining_types"), mining_types_path %>
  </div>
</div>
